.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login__bg {
  background-color: #E9D5DA;
}

.register__bg {
  background-color: #827397;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 20px;
  width: 300px;
}

.login__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login__form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.login__form-group label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.login__form-group input {
  border: none;
  border-bottom: 1px solid rgb(101, 101, 101);
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem;
  background: none;
  outline: none;
  width: 100%;
}

.login__form-group input:focus {
  border-bottom: 1px solid #ff3c3c;
}

.submit {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  margin-top: 1.5rem;
  width: 75%;
}

.login__button {
  background-color: #4D4C7D;
}

.register__button {
  background-color: #363062;
}
